@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-family: 'Ysabeau', sans-serif;
}
a{
  color :inherit;
  text-decoration:none;
}
*{
  box-sizing:border-box;
}
@font-face {
  font-family: "burtons";
  src: url('../public/arif1.jpg');
}